body,html {
	background: #0080FF;
	font-family: 'Roboto', sans-serif;
}
h2 {
	color: #000080;
	font-size: 24px;
	margin: 30px 0 5px 0;
	padding: 0;
	text-align: center;
}
.control {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	input {
		width: 200px;
	}
	.btn {
		appearance: none;	
		font-size: 14px;
		border-radius: 2px;
		border: none;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		cursor: pointer;
		margin: 15px;
		padding: 5px 10px 5px 10px;
		outline: 0;
		width: 50px;
		&.btn-off{
			background-color: #1ECF39;
			color: rgba(255,255,255,0.9);
		}
		&.btn-on {
			background-color: #A70F2C;
			color: rgba(255,255,255,0.9);
		}
	}
	p {
		text-align: center;
		font-size: 12px;
		line-height: 24px;
		margin: 0;
		padding: 0;
		color: rgba(255,255,255,0.7);
	
	}
}
#flags {
	position: absolute;
	left: 50%;
	transform: translateX(-240px);
	width: 502px;
	img {
		opacity: 0.3;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
	}
}

#canvas-field {
	padding: 0;
	canvas {
		background-color: rgba(#66FFFF,0.4);
		&#myCanvas {
			position: absolute;
			background-color: transparent;
			left: 50%;
			transform: translateX(-240px);
		}
		&#data {
			position: absolute;
			background-color: rgba(255,255,255,0);
			left: 50%;
			transform: translateX(-240px);
		}
	}
}
